<div id="login" class="boxed">
	<h2 class="title">Client Account</h2>
	<div class="content">
		<form id="form1" method="post" action="#">
			<fieldset>
			<legend>Sign-In</legend>
			<label for="inputtext1">Client ID:</label>
			<input id="inputtext1" type="text" name="inputtext1" value="" />
			<label for="inputtext2">Password:</label>
			<input id="inputtext2" type="password" name="inputtext2" value="" />
			<input id="inputsubmit1" type="submit" name="inputsubmit1" value="Sign In" />
			<p><a href="#">Forgot your password?</a></p>
			</fieldset>
		</form>
	</div>
</div>
<div id="updates" class="boxed">
	<h2 class="title">Recent Updates</h2>
	<div class="content">
		<ul>
			<li>
				<h3>March 5, 2007</h3>
				<p><a href="#">In posuere eleifend odio quisque semper augue mattis wisi maecenas&#8230;</a></p>
			</li>
			<li>
				<h3>March 3, 2007</h3>
				<p><a href="#">Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh&#8230;</a></p>
			</li>
			<li>
				<h3>February 28, 2007</h3>
				<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum&#8230;</a></p>
			</li>
			<li>
				<h3>February 25, 2007</h3>
				<p><a href="#">Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam nequea&#8230;</a></p>
			</li>
		</ul>
	</div>
</div>
<div id="partners" class="boxed">
	<h2 class="title">Partners</h2>
	<div class="content">
		<ul>
			<li><a href="#">Donec Dictum Metus</a></li>
			<li><a href="#">Etiam Rhoncus Volutpat</a></li>
			<li><a href="#">Integer Gravida Nibh</a></li>
			<li><a href="#">Maecenas Luctus Lectus</a></li>
			<li><a href="#">Mauris Vulputate Dolor</a></li>
			<li><a href="#">Nulla Luctus Eleifend</a></li>
			<li><a href="#">Posuere Augue Sit Nisl</a></li>
		</ul>
	</div>
</div>